<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.swa.hsh/ocl/OCL" 
       class = "hsh.swa.ocl.oCL.OCLPackage"
       genModel = "model/generated/OCL.genmodel" /> 
	
  </extension>




</plugin>
